footer.footer
    .footer__logo
        img(src='img/logo-green.png', alt='Natours logo')
    ul.footer__nav
        li: a(href='#') Company
        li: a(href='#') Contact us
        li: a(href='#') Careers
        li: a(href='#') Privacy policy
        li: a(href='#') Terms
    p.footer__copyright &copy; by James Niyongira. All rights reserved.